@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  background-color: #EEEEE4;
  font-family: "Arvo", serif;
  text-decoration: none;
}
p {
  font-family: 'Bitter', serif;
  display: inline;
}
a {
  text-decoration: none;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  display: inline;
}
h4 {
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0px;
  grid-template-rows: 50px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto 50 px;
}
.one {
  grid-column: 1 / span 4;
  grid-row: 1;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
  /* align-self: center; */
  display: grid;
}
.climbing {
  grid-column: 5 / span 2;
  grid-row: 1 / 2;
  display: grid;

}
.books {
  grid-column: 7 / span 2;
  grid-row: 1 / 2;
  display: grid;
}
.maps {
  grid-column: 9 / span 2;
  grid-row: 1 / 2;
  display: grid;
}
.maps, .books, .climbing, .one {
  align-content: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: black;
  border: 0px solid black;
  background-color: #CCBEDA;
  position: relative;
  font-size: 20px;
  top: -11px;
}
.image {
  grid-column: 6 / span 3;
  grid-row: 2 / span 4;
  justify-items: end;                       /* This is to style the main image of me on the homepage */
  border-radius: 10px;
  border: 1px solid grey;
}
.about-me {
  grid-column: 2 / span 3;
  grid-row: 2 / span 2;
}
/* Book Review Page Stuff */
h1 {
  margin: 3rem 0 2rem;
  text-align: center;
}
.Book_review_sub_heading {
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #B8D8A1;
}
.book {
  background-color: fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px;
  padding: 0 15px;;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 1%;
}
.book.active {
  background-color: #CBDFBD;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px;
}
.book.active::before {
  content: "\f02e";
  font-family: "Font Awesome 5 Free";
  color: #0010f7f7;
  font-size: 7rem;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .09;
  z-index: 0;
  }
.book-title {
    display: flex;
    letter-spacing: .09;
}
.book-text {
  display: none;
  margin: 1rem 0 0;
}
.book.active .book-text {
  display: block;
}
.book-toggle {
  background-color: #CBDFBD;
  border: 2px solid #6E6E6E;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 0;
  position: relative;
  top: -8px;
  left: 338px;
  height: 40px;
  width: 40px;
  margin: auto 0;
}
.image {
  margin: 5px;
}
.book-toggle:focus {
  outline: none;
}

.book.active .book-toggle {
  background-color: #CBDFBD;
}

.book-toggle .fa-times {
  display: none;
}

.book.active .book-toggle .fa-times {
  display: block;
  color: #333;
}

.book.active .book-toggle .fa-chevron-down {
  display: none;
}

.book_thumbnail {
  border-radius: 3px;                         /* This just to style the book screen grabs */
  border: 1px solid black;
  margin-right: 10px;
  max-height: 210px;

}

                                               /* THIS IS ALL FOR THE "MORE" BUTTONS  */
p > a {
  border-top: 1px solid #96d1f8;
  background: #146326;
  background: -webkit-gradient(linear, left top, left bottom, from(#37bf4c), to(#146326));
  background: -webkit-linear-gradient(top, #37bf4c, #146326);
  background: -moz-linear-gradient(top, #37bf4c, #146326);
  background: -ms-linear-gradient(top, #37bf4c, #146326);
  background: -o-linear-gradient(top, #37bf4c, #146326);
  padding: 3.5px 7px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 12px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }

p > a:hover {
      border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }

p > a:active {
  border-top-color: #1b435e;
  background: #1b435e;
}                                                    /* THIS IS ALL FOR THE "MORE" BUTTONS  */